<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <style>
      .container {
        padding: 45px;
      }
    </style>
  </head><body>
    <div class="cover" style="opacity: 0.5;">
      <div class="navbar">
        <div class="container">
          <div class="navbar-header">
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse"></div>
        </div>
      </div>
      <div class="cover-image" style="background-image : url('https://www.google.com.ar/imgres?imgurl=http%3A%2F%2Fwallpapercave.com%2Fwp%2FLQmHiRa.jpg&amp;imgrefurl=http%3A%2F%2Fwallpapercave.com%2Fspace-desktop-backgrounds-1920x1080&amp;docid=4QDlQ5V0xQ1VOM&amp;tbnid=l3m3RJbdPqOJQM%3A&amp;vet=1&amp;w=1920&amp;h=1080&amp;bih=613&amp;biw=1366&amp;q=background%20space&amp;ved=0ahUKEwiIkoza_J7SAhWCgZAKHaiRC_YQMwg1KAYwBg&amp;iact=mrc&amp;uact=8')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center" style="padding-bottom:20;">&iexcl;Ingres&aacute; tus datos para participar!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <form id="form" role="form" data-toggle="validator">
              <div class="form-group">
                <label class="control-label" for="inputName">Nombre y Apellido <span style="color: red;">*</span></label>
                <input class="form-control" id="inputName" required>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputEmail" contenteditable="true">Correo Electr&oacute;nico <span style="color: red;">*</span></label>
                <input class="form-control" id="inputEmail" type="email" required>
              </div>

            <h4>
              <b>¿A que organizaci&oacute;n pertences?</b>
            </h4>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="Organizacion">Organizaci&oacute;n</label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="Empresa">
                <span style="color: inherit; font-size: inherit; line-height: 1.42857; background-color: transparent;">Empresa</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="Institucion">
                <span style="color: inherit; font-size: inherit; line-height: 1.42857; background-color: transparent;">Instituci&oacute;n</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios4" value="Otro">Otro</label>
            </div>
            <div class="form-group">
              <label class="control-label" for="exampleInputEmail3">&iquest;Cu&aacute;l? <span style="color: red;">*</span></label>
              <input required class="form-control" id="exampleInputEmail3" required>
            </div>
            <div class="form-group">
              <label class="control-label" for="exampleInputEmail4">&iquest;Por qu&eacute; quer&eacute;s participar del evento?</label>
              <input class="form-control" id="exampleInputEmail4" type="email">
            </div>
            <br>
            <br>
          </form></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- <a id="mainBtn" class="active btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#myModal">Enviar</a> -->
            <button id="mainBtn" class="active btn btn-block btn-lg btn-primary">Enviar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Términos y condiciones</h4>
          </div>
          <div class="modal-body">
            TODO
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Enviar formulario</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script>
    $("#mainBtn").click(function (){
      $("#form").validate({
        rules: {
          inputName: {
            required: true
          },
          inputEmail: {
            required:true
          }
        }
      }).form();
    })
    </script>
</body>
</html>
