<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="cover" style="opacity: 0.5;">
      <div class="navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse"></div>
        </div>
      </div>
      <div class="cover-image" style="background-image : url('https://www.google.com.ar/imgres?imgurl=http%3A%2F%2Fwallpapercave.com%2Fwp%2FLQmHiRa.jpg&amp;imgrefurl=http%3A%2F%2Fwallpapercave.com%2Fspace-desktop-backgrounds-1920x1080&amp;docid=4QDlQ5V0xQ1VOM&amp;tbnid=l3m3RJbdPqOJQM%3A&amp;vet=1&amp;w=1920&amp;h=1080&amp;bih=613&amp;biw=1366&amp;q=background%20space&amp;ved=0ahUKEwiIkoza_J7SAhWCgZAKHaiRC_YQMwg1KAYwBg&amp;iact=mrc&amp;uact=8')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">
              <style>
                h1 {padding-bottom:20;}
              </style>¡Ingresá tus datos para participar!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <form role="form">
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Nombre y Apellido</label>
                <input class="form-control" id="exampleInputEmail1" type="email">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail2" contenteditable="true">Correo Electrónico</label>
                <input class="form-control" id="exampleInputEmail2" type="email">
              </div>
            
            <h4>
              <b>¿A que organización pertences?</b>
            </h4>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Organización</label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                <span style="color: inherit; font-size: inherit; line-height: 1.42857; background-color: transparent;">Empresa</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                <span style="color: inherit; font-size: inherit; line-height: 1.42857; background-color: transparent;">Institución</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">Otro</label>
            </div>
            <div class="form-group">
              <label class="control-label" for="exampleInputEmail3">Cual?</label>
              <input class="form-control" id="exampleInputEmail3" type="email">
            </div>
            <div class="form-group">
              <label class="control-label" for="exampleInputEmail4">¿Por qué queres participar del evento?</label>
              <input class="form-control" id="exampleInputEmail4" type="email">
            </div>
            <br>
            <br>
          </form></div>
        </div>
           
        <div class="row">
          <div class="col-md-12">
            <a class="active btn btn-block btn-lg btn-primary" data-toggle="button">Enviar</a>
          </div>
        </div>
      </div>
    </div>
  

</body></html>
