<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <style>
      .error {
        color: red;
      }
      #myModal {
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="cover" style="opacity: 0.85">
      <div class="cover-image" style="background-image : url('/img/background2.jpg')"></div>
      <div class="container" style="padding: 50px; margin-top: 50px; margin-bottom: 50px; margin-left:200px; margin-right:200px; background-color: rgb(247,247,249);">
        <div class="alert alert-warning" role="alert" hidden></div>
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center" style="padding-bottom:20;">#WomenWorkshop2017</h1>
            <h2 class="text-center" style="padding-bottom:20;">&iexcl;Ingres&aacute; tus datos para participar!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <form id="form" role="form" data-toggle="validator" action="/response" method="post">
              <div class="form-group">
                <label class="control-label" name="inputName">Nombre y Apellido <span style="color: red;">*</span></label>
                <input class="form-control" id="inputName" name="inputName">
              </div>
              <div class="form-group">
                <label class="control-label" name="inputEmail">Correo Electr&oacute;nico <span style="color: red;">*</span></label>
                <input class="form-control" name="inputEmail" id="inputEmail" type="email">
              </div>
            <label>
              <b>¿A que organizaci&oacute;n/instituci&oacute;n pertenc&eacute;s?</b>
            </label>
            <!-- <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="Organizacion">Organizaci&oacute;n</label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="Empresa">
                <span style="color: inherit; font-size: inherit; line-height: 1.42857; background-color: transparent;">Empresa</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="Institucion">
                <span style="color: inherit; font-size: inherit; line-height: 1.42857; background-color: transparent;">Instituci&oacute;n</span>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios4" value="Otro">Otro</label> -->
            <!-- </div> -->
            <!-- <div class="form-group"> -->
              <!-- <label class="control-label" name="inputOrg">&iquest;Cu&aacute;l?</label> -->
              <input class="form-control" name="inputOrg" id="inputOrg">
            <!-- </div> -->
            <div class="form-group">
              <label class="control-label" name="inputExplain">&iquest;Por qu&eacute; quer&eacute;s participar del evento? <span style="color: red;">*</span></label>
              <input class="form-control" name="inputExplain"id="inputExplain">
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-md-12">
                <!-- <a id="mainBtn" class="active btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#myModal">Enviar</a> -->
                <button id="mainBtn" type="submit" class="btn btn-block btn-lg btn-primary">Enviar</button>
              </div>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
            <h4 class="modal-title" id="myModalLabel" style="color: black;">Términos de Uso</h4>
          </div>
          <div class="modal-body">
            <p>Este Acuerdo establece los términos y condiciones que rigen el uso de la aplicación Women-Workshop-2017 ("la Aplicación"). Mediante el uso de la Aplicación, usted acepta estas Condiciones de Uso; <b>si usted no está de acuerdo con estos Términos de Uso, no utilice esta Aplicación</b>.<br>
              <br>
              La Aplicación está disponible para usted de manera exclusiva, por International Business Machines Corporation ("IBM"), sin cargo a través de una conexión a Internet proporcionada por usted.<br>
              <br>
              La Aplicación y cualquier software relacionado, documentación, contenido u otros materiales proporcionados por IBM en relación con la Aplicación son propiedad de IBM o de un tercero, y tienen derechos de autor y de licencia, no vendidos. No se permite la transferencia de sus derechos en virtud del presente Acuerdo.<br>
              <br>
              Usted está autorizado a utilizar la Aplicación y el contenido asociado para uso personal y <b>sólo para fines informativos</b>. La Aplicación no está destinada a ser utilizada con fines de producción o comerciales, no estando permitidos esos usos. IBM o sus proveedores no tienen la obligación de revisar, filtrar, comprobar, editar o eliminar cualquier contenido. Sin embargo, IBM o sus proveedores podrán hacerlo a su entera discreción.<br>
              <br>
              El uso de la Aplicación está también sujeto a la Declaración de Privacidad Online de IBM, disponible en <a href="http://www.ibm.com/privacy/ar/es/">http://www.ibm.com/privacy/ar/es/</a><br>
              <br>
              La Aplicación puede no estar disponible durante el mantenimiento programado determinado por IBM, y pueden producirse otros cortes por tiempos regulares y no regulares. Cualquiera de las partes podrá dar por terminado el uso o el acceso a la Aplicación en cualquier momento.<br>
              <br>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Acepto los términos y condiciones</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/validator.js"></script>
    <script type="text/javascript">
      $(window).on("load", function(){
        $('#myModal').modal({backdrop: 'static', keyboard: false});
        $('#myModal').modal('show');
     });
    </script>

</body>
</html>
