<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="https://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="section">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <i class="fa fa-5x fa-pagelines fa-fw fa-spin text-primary"></i>
            <br>
            <br>
            <br>
          </div>

          <% if(results.length) {%>
            <table class="table table-striped">
            <tr>
              <th>_id</th>
              <th>_rev</th>
              <th>Nombre</th>
              <th>Mail</th>
              <th>Organizacion</th>
              <th>Razon</th>
              <th>Fecha</th>
              <th>Validar</th>
            </tr>
              <% results.forEach(function(row) { %>
                <form action="/statsOK" method="post">
                  <tr>
                    <td><input hidden name="id" value="<%= row._id %>"></td>
                    <td><input hidden name="rev" value="<%= row._rev %>"></td>
                    <td><input hidden name="name" value="<%= row.name %>"><%= row.name %></td>
                    <td><input hidden name="email" value="<%= row.email %>"><%= row.email %></td>
                    <td><input hidden name="orgText" value="<%= row.orgText %>"><%= row.orgText%></td>
                    <td><input hidden name="explaination" value="<%= row.explaination %>"><%= row.explaination %></td>
                    <td><input hidden name="date" value="<%= row.date %>"><%= row.date %></td>
                    <% if(row.validado == false){ %>
                      <td>
                        <button type="submit" class="btn btn-small btn-danger"> ¿Validar usuario?
                      </td>
                      <% } else if (row.validado == true){ %>
                      <td>
                        <button class="btn btn-small btn-success" disabled> Usuario validado
                      </td>
                      <% } else { %>
                      <td>No Data</td>
                      <% } %>
                  </tr>
                </form>
              <% }) %>
              </table>
          <% } %>
        </div>
      </div>
    </div>
  </body>

</html>
